body, html {
    height: 100%;
    margin: 0;
    font-family: 'Mitr', sans-serif;
}

.bg-yellow {
    background-color: #f9b100;
}

.table-wrap {
    height: 550px;
    overflow: auto;
}

#province-list thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 36px;
}

#province-list tbody tr:last-child td {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index:4;
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }

#province-list tbody {
    overflow: auto;
    height: 300px;
    display: table-row-group;
}

#mapInfection {
    max-height: 550px;
    min-height: 550px;
}

#map .tui-chart {
    margin: auto;
}

#section-ref {
    min-height: 300px;
}

@media (max-width: 767.98px) {
    .status-block:not(:first-child) .card-title {
        font-size: 1rem;
    }

    .status-block:not(:first-child) p {
        font-size: calc(1.25rem + 1vw);
        margin-bottom: 0.25rem;
    }

    .status-block:not(:first-child) .card-body {
        padding: 1rem 0.5rem;
    }

    .status-block:not(:first-child) small {
        display: none;
    }

    .status-block:nth-child(2) {
        padding-right: 0.5rem;
    }

    .status-block:nth-child(3) {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .status-block:nth-child(4) {
        padding-left: 0.5rem;
    }
}